.container {
    max-width: 800px;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #2d2d2d;
    padding: 6px;

    box-shadow: -4px 0px 0px rgb(223, 105, 8);
}

.card-wrap {
    padding-bottom: 10px;
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap-content {
    justify-content: start;
    gap: 30px;
}

.info {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

.name {
    font-size: 20px;
}

.desc {
    font-size: 14px;
    opacity: 0.8;
}

.score {
    padding-left: 20px;
    font-size: 16px;
    opacity: 0.8;
}

.img {
    width: 50px;
}

.btn {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
}

.img-btn {
    width: 30px;
}

.btn:hover {
    scale: 1.1;
}