.container-filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-top: 10px;
}

.text {
    font-size: 20px;
}

.btn-filter {
    opacity: 0.8;
    background: none;
    border: none;
    font-size: 16px;
    color: #fff;
}

.active {
    opacity: 1;
    text-decoration: underline;
}
